<div style="background-color: darkorange;">
<% for(var i=0;i< results.length ;i++){%>
    <div style="padding: 5em; margin-left: 10em; margin-right:10em ; background-color: antiquewhite;">
    <p><%=i+1%> Result</p>
    <h1> 
    >buyer name : 
    <%= results[i].buyer_name %></h1><h1>
    >buying date : 
    <%= results[i].buying_date%></h1><h1>
    property details
    >state : 
    <%= results[i].state %></h1><h1>
    >city : 
    <%= results[i].city %></h1><h1>
    >street : 
    <%= results[i].street %></h1><h1>
    >size_sq_ft : 
    <%= results[i].size_sq_ft %></h1><h1>
    >no_of_beds : 
    <%= results[i].no_of_beds%></h1><h1>
    >floor_no : 
    <%= results[i].floor_no%></h1><h1>
    >price : 
    <%= results[i].price%></h1>
    </div>
      
<%}%>
</div>